<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>新增员工</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/formSelects-v4.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/formSelects-v4.min.js}" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-form">
        <div class="layui-form-item">
            <table class="layui-table">
                <tr>
                    <td width="16%"><span class="x-red">*</span>姓名</td>
                    <td width="17%">
                        <input class="layui-input" type="text" id="sname" name="sname" lay-verify="required"
                               placeholder="输入姓名（必填）">
                    </td>
                    <td width="16%"><span class="x-red">*</span>性别</td>
                    <td width="17%">
                        <select class="layui-select" id="sex" name="sex" lay-verify="required">
                            <option value="">请选择</option>
                            <option th:each="result : ${sex}"
                                    th:text="${result}">
                            </option>
                        </select>
                    </td>
                    <td width="16%"><span class="x-red">*</span>出生日期</td>
                    <td>
                        <input class="layui-input" type="date" id="birthday" name="birthday" lay-verify="required"/>
                    </td>
                </tr>
                <tr>
                    <td><span class="x-red">*</span>身份证号</td>
                    <td>
                        <input class="layui-input" type="text" id="sid" name="sid" lay-verify="identity|required"
                               placeholder="输入身份证号（必填）">
                    </td>
                    <td><span class="x-red">*</span>部门</td>
                    <td>
                        <select class="layui-select" id="depart_id" name="depart_id" lay-verify="required">
                            <option value="">请选择</option>
                            <option th:each="result : ${departs}"
                                    th:value="${result.id}"
                                    th:text="${result.dname}">
                            </option>
                            <!--th:value传到后端的数据   th:text显示的数据-->
                        </select>
                    </td>
                    <td><span class="x-red">*</span>入职日期</td>
                    <td>
                        <input class="layui-input" type="date" id="entrydate" name="entrydate" lay-verify="required"/>
                    </td>
                </tr>
                <tr>
                    <td>民族</td>
                    <td>
                        <select class="layui-select" id="nation" name="nation">
                            <option value="">请选择</option>
                            <option th:each="result : ${nation}"
                                    th:text="${result}">
                            </option>
                        </select>
                    </td>
                    <td>籍贯</td>
                    <td>
                        <input class="layui-input" type="text" id="nativeplace" name="nativeplace"
                               placeholder="输入籍贯">
                    </td>
                    <td><span class="x-red">*</span>联系电话</td>
                    <td>
                        <input class="layui-input" type="text" id="stel" name="stel" lay-verify="phone|required"
                               placeholder="输入手机号（必填）">
                    </td>
                </tr>
                <tr>
                    <td>电子邮件</td>
                    <td>
                        <input class="layui-input" type="text" id="semail" name="semail" lay-verify="email"
                               placeholder="输入电子邮箱">
                    </td>
                    <td>最高学历</td>
                    <td>
                        <select class="layui-select" id="education" name="education">
                            <option value="">请选择</option>
                            <option th:each="result : ${education}"
                                    th:text="${result}">
                            </option>
                        </select>
                    </td>
                    <td>最高学位</td>
                    <td>
                        <select class="layui-select" id="degree" name="degree">
                            <option value="">请选择</option>
                            <option th:each="result : ${degree}"
                                    th:text="${result}">
                            </option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>毕业院校</td>
                    <td>
                        <input class="layui-input" type="text" id="university" name="university"
                               placeholder="输入毕业院校">
                    </td>
                    <td>所学专业</td>
                    <td>
                        <input class="layui-input" type="text" id="major" name="major"
                               placeholder="输入所学专业">
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td><span class="x-red">*</span>试用开始日期</td>
                    <td>
                        <input class="layui-input" type="date" id="startdate" name="startdate" lay-verify="required"/>
                    </td>
                    <td><span class="x-red">*</span>试用结束日期</td>
                    <td>
                        <input class="layui-input" type="date" id="enddate" name="enddate" lay-verify="required"/>
                    </td>
                    <td colspan="2">
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <button onclick="reload();" type="reset" class="layui-btn layui-btn-primary" >重置</button>
                            <button class="layui-btn" lay-filter="submit" lay-submit="">保存</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(submit)', function (data) {
            console.log(data.field);
            $.ajax({
                url: "/admin/staff/add",
                type: "post",
                data: JSON.stringify(data.field),
                contentType : "application/json",
                success: function (s) {
                    if (s.code == 0) {
                        layer.msg(s.msg, function () {
                            parent.location.reload();
                        });
                    } else {
                        layer.msg(s.msg, function () {
                        });
                    }
                },
                error: function () {
                    layer.msg("接口异常!", function () {
                    });
                }
            });
        });
    });

    function reload() {
        $.get("/admin/staff/add", function (data) {
            if (data) {
                location.reload();
            } else {
                parent.location.reload();
            }
        });
    }
</script>
</body>
</html>