<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
  <meta charset="UTF-8">
  <title>评论管理</title>
  <!-- 保留头部不变，引入CSS和JS等资源 -->
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body ">
          <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
              <input type="text" name="search" placeholder="请输入评论内容关键字" autocomplete="off" class="layui-input"></div>
            <div class="layui-inline layui-show-xs-block">
              <button class="layui-btn" lay-submit="" lay-filter="search_btn">
                <i class="layui-icon">&#xe615;</i>
              </button>
            </div>
          </form>
        </div>
        <div class="layui-card-body ">
          <table id="commentList" lay-filter="commentList"></table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="commentListBar">
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script type="text/javascript" th:inline="javascript">
  // 使用Layui
  layui.use(['form', 'layer', 'table'], function () {
    var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            table = layui.table;

    var tableIns = table.render({
      elem: '#commentList',
      url: '/admin/comment/listall', // 获取评论列表的URL
      title: '评论列表',
      page: true,
      height: "full-110",
      cols: [
        [{type: 'checkbox', fixed: "left"},
          {field: 'content', title: '评论内容', align: "center"},
          {field: 'userName', title: '评论者', align: 'center'},
          {field: 'createTime', title: '评论时间', align: 'center'},
          {title: '操作', align: "center", toolbar: "#commentListBar"}]
      ]
    });

    // 监听搜索按钮
    form.on('submit(search_btn)', function (data) {
      tableIns.reload({
        where: data.field,
        page: {
          curr: 1 // 重置到第一页
        }
      });
      return false;
    });

    // 监听工具条
    table.on('tool(commentList)', function (obj) {
      var data = obj.data;
      if(obj.event === 'del'){
        layer.confirm('确定删除这条评论？', function(index){
          // 发起删除评论的请求
          $.post("/admin/comment/delete", {"id": data.id}, function (res) {
            layer.msg(res.msg);
            tableIns.reload();
          });
          layer.close(index);
        });
      }
    });
  });

</script>

</body>
</html>
