<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game List</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/Steam_icon_logo.svg.png" alt="Logo" style="width:40px;">
    </a>
    <h1 class="navbar-text text-white">Game List</h1>
    <!-- 添加登录和注册按钮 -->
    <div class="ml-auto">
        <button class="btn btn-primary" onclick="location.href='/login'">登录</button>
        <button class="btn btn-secondary" onclick="location.href='/register'">注册</button>
    </div>
</nav>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4" th:each="game : ${games}">
            <div class="card">
                <img class="card-img-top" th:src="${game.gamelogo}" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" th:text="${game.dname}"></h4>
                    <p class="card-text">Game Type: <span th:text="${game.dtel}"></span></p>
                    <p class="card-text">Price: <span th:text="${game.description}"></span></p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
