<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/Steam_icon_logo.svg.png" alt="Logo" style="width:40px;">
    </a>
    <h1 class="navbar-text text-white">Game Details</h1>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <!-- Game Logo -->
            <img th:src="${gameDetails.gamelogo}" alt="Game Logo" class="img-fluid mb-3">

            <!-- Game Title -->
            <h1 th:text="${gameDetails.dname}"></h1>

            <!-- Game Description -->
            <h3>Description</h3>
            <p th:text="${gameDetails.gameinfo}"></p>

            <!-- Game Price -->
            <h3>Price</h3>
            <p><span th:text="${gameDetails.price}"></span></p>
            <button id="purchaseGame" th:attr="data-game-id=${gameDetails.id}" onclick="purchaseGame()">购买游戏</button>

        </div>

        <div class="col-md-4">


】“？
            。
            <!-- Place Order Button -->
            <button id="placeOrderButton" class="btn btn-primary btn-lg">Place Order</button>
        </div>
    </div>
</div>

<script>
    // JavaScript code to handle the order logic
    document.getElementById("placeOrderButton").addEventListener("click", function() {
        // Call the place order API (You need to implement this part according to your backend API)
    });
    function purchaseGame() {
        // 获取当前页面上的游戏ID
        var gameId = document.getElementById("purchaseGame").getAttribute("data-game-id");
        // 使用AJAX调用后端API进行购买操作
        $.ajax({
            url: '/admin/addGameToUser',
            type: 'POST',
            data: {
                gameId: gameId  // 使用正确的参数名称
            },
            success: function(response) {
                if (response.success) {
                    alert('购买成功！');
                } else {
                    alert('购买失败：' + response.message);
                }
            }
        });


    }
</script>

</body>
</html>
